<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <a href="/add">add magazine</a>
    <a href="/account">account</a>
    <button><a href="/logout">Logout</a></button>

    <h1>Welcome!! {{session['first_name']}} {{session['last_name']}}</h1>

    {%for data in datas%}
      <p><a href="/show/{{data.magazine.id}}">{{data.magazine.name}}</a> added by {{data.first_name}} {{data.last_name}}</p>
    {%endfor%}
    
    
</body>
</html>