<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/dashboard">dashboard</a>
    <a href="/add">add Magazin</a>
    <a href="/account">account</a>
    <button><a href="/logout">logout</a></button>
    <br>
    <br>
    <br>
    <h1>{{data.magazine.name}}</h1>
    <h3>Added by {{data.first_name}} {{data.last_name}}</h3>
    <p><b>description:</b></p>
    <p>{{data.magazine.description}}</p>
    
</body>
</html>